production/prod_test.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "00fa1140-dd91-3be6-a3e8-1bfc47b117bc",
        "inputPorts" : [ ],
        "instanceIdentifier" : "018b1000-23af-179b-e75f-90db0c1e70b9",
        "labels" : [ ],
        "name" : "Copy of Production",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1136.0,
          "y" : 1296.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "2cfadc9b-2a39-3f0a-ad02-658554b085ad",
              "instanceIdentifier" : "69d7341a-62af-1ba4-dd41-582f31eb800f",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "16bf4b9a-bae2-3cf1-adb1-bdc422f12c27",
            "instanceIdentifier" : "69d73421-62af-1ba4-0a13-6c7490cec8ea",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "18973e74-9912-37b9-b70b-a2651ac12ca3",
              "instanceIdentifier" : "69d7341e-62af-1ba4-d5eb-a3b9bb08f95a",
              "name" : "GetFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "4d7246c1-ad14-33d3-af1e-c77495c89434",
              "instanceIdentifier" : "69d7341c-62af-1ba4-f24c-fcbada8b136d",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "80e3d69a-264e-356f-8c7b-d6d92add06af",
            "instanceIdentifier" : "69d73424-62af-1ba4-52a4-4e4af3a0dcc3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "2cfadc9b-2a39-3f0a-ad02-658554b085ad",
              "instanceIdentifier" : "69d7341a-62af-1ba4-dd41-582f31eb800f",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
              "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "cff7fa14-1f2c-3c14-89ce-61f020be8710",
            "instanceIdentifier" : "69d73427-62af-1ba4-93ca-fb405e7062e2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "8175362c-5c41-33f6-9e23-434f0e2b2566",
              "instanceIdentifier" : "69d7341b-62af-1ba4-1a66-ea241088c9b5",
              "name" : "GetFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "4fe0d334-0835-3f1d-9b53-adc06304fc2e",
              "instanceIdentifier" : "69d7341d-62af-1ba4-7e3f-cd3a325725fd",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "85e5dae8-13d3-3caa-a64a-e34aed56e078",
            "instanceIdentifier" : "69d73425-62af-1ba4-1dbf-e8def8b9840b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "4d7246c1-ad14-33d3-af1e-c77495c89434",
              "instanceIdentifier" : "69d7341c-62af-1ba4-f24c-fcbada8b136d",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1587.000000078007,
              "y" : 674.0000021067892
            }, {
              "x" : 1587.000000078007,
              "y" : 724.0000021067892
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
              "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "462f4a63-6b73-385d-8563-7a82bcb10136",
            "instanceIdentifier" : "69d73428-62af-1ba4-a191-d38ba2493a26",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
              "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1627.000000078007,
              "y" : 1258.0000021067892
            }, {
              "x" : 1627.000000078007,
              "y" : 1308.0000021067892
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "4d7246c1-ad14-33d3-af1e-c77495c89434",
              "instanceIdentifier" : "69d7341c-62af-1ba4-f24c-fcbada8b136d",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "c5b375a9-61b8-3af1-a7e0-3e77cda36e17",
            "instanceIdentifier" : "69d73423-62af-1ba4-a7e2-5a51068bb336",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "4d7246c1-ad14-33d3-af1e-c77495c89434",
              "instanceIdentifier" : "69d7341c-62af-1ba4-f24c-fcbada8b136d",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "1d2b9508-0037-312e-a3fa-e004d5b9ecb9",
              "instanceIdentifier" : "69d7341f-62af-1ba4-3a5d-08cca66a3cf2",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "9ffb2780-45f6-3bdf-8e60-62e778bd0133",
            "instanceIdentifier" : "69d73422-62af-1ba4-76b4-5a2ab1ba8525",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
              "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "2cfadc9b-2a39-3f0a-ad02-658554b085ad",
              "instanceIdentifier" : "69d7341a-62af-1ba4-dd41-582f31eb800f",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "3b5819d5-4a73-32ef-abc9-13d8cb1909bb",
            "instanceIdentifier" : "69d73426-62af-1ba4-6598-ce8a781f0179",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dd0d1595-73b8-3865-b172-61c587cc169a",
              "id" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
              "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.23.2"
              },
              "type" : "org.apache.nifi.serialization.RecordReaderFactory"
            } ],
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "5bc461d9-ee8a-341c-a166-8872389d873e",
            "instanceIdentifier" : "018b1002-23af-179b-daeb-f43f977b07bf",
            "name" : "CSVReaderCustom",
            "properties" : {
              "ignore-csv-header" : "false",
              "Trim double quote" : "true",
              "CSV Format" : "custom",
              "Quote Character" : "\"",
              "csvutils-allow-duplicate-header-names" : "true",
              "Value Separator" : ",",
              "Record Separator" : "\\n",
              "Escape Character" : "\\",
              "Skip Header Line" : "true",
              "Trim Fields" : "true",
              "schema-name" : "${schema.name}",
              "csv-reader-csv-parser" : "commons-csv",
              "schema-access-strategy" : "infer-schema",
              "csvutils-character-set" : "UTF-8",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "ignore-csv-header" : {
                "displayName" : "Ignore CSV Header Column Names",
                "identifiesControllerService" : false,
                "name" : "ignore-csv-header",
                "sensitive" : false
              },
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "Trim double quote" : {
                "displayName" : "Trim double quote",
                "identifiesControllerService" : false,
                "name" : "Trim double quote",
                "sensitive" : false
              },
              "CSV Format" : {
                "displayName" : "CSV Format",
                "identifiesControllerService" : false,
                "name" : "CSV Format",
                "sensitive" : false
              },
              "Quote Character" : {
                "displayName" : "Quote Character",
                "identifiesControllerService" : false,
                "name" : "Quote Character",
                "sensitive" : false
              },
              "csvutils-allow-duplicate-header-names" : {
                "displayName" : "Allow Duplicate Header Names",
                "identifiesControllerService" : false,
                "name" : "csvutils-allow-duplicate-header-names",
                "sensitive" : false
              },
              "Value Separator" : {
                "displayName" : "Value Separator",
                "identifiesControllerService" : false,
                "name" : "Value Separator",
                "sensitive" : false
              },
              "Record Separator" : {
                "displayName" : "Record Separator",
                "identifiesControllerService" : false,
                "name" : "Record Separator",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Escape Character" : {
                "displayName" : "Escape Character",
                "identifiesControllerService" : false,
                "name" : "Escape Character",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Null String" : {
                "displayName" : "Null String",
                "identifiesControllerService" : false,
                "name" : "Null String",
                "sensitive" : false
              },
              "Skip Header Line" : {
                "displayName" : "Treat First Line as Header",
                "identifiesControllerService" : false,
                "name" : "Skip Header Line",
                "sensitive" : false
              },
              "Trim Fields" : {
                "displayName" : "Trim Fields",
                "identifiesControllerService" : false,
                "name" : "Trim Fields",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "csv-reader-csv-parser" : {
                "displayName" : "CSV Parser",
                "identifiesControllerService" : false,
                "name" : "csv-reader-csv-parser",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "Comment Marker" : {
                "displayName" : "Comment Marker",
                "identifiesControllerService" : false,
                "name" : "Comment Marker",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "csvutils-character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "csvutils-character-set",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.csv.CSVReader"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.23.2"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "c03414fe-498d-3ff7-8e74-8be9cc0bab11",
            "instanceIdentifier" : "69d73419-62af-1ba4-4230-a6f9981b8f4e",
            "name" : "AvroRecordSetWriterFor COnversion",
            "properties" : {
              "compression-format" : "NONE",
              "Schema Write Strategy" : "full-schema-attribute",
              "schema-name" : "${schema.name}",
              "cache-size" : "1000",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "encoder-pool-size" : "32",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache Size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "encoder-pool-size" : {
                "displayName" : "Encoder Pool Size",
                "identifiesControllerService" : false,
                "name" : "encoder-pool-size",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "00fa1140-dd91-3be6-a3e8-1bfc47b117bc",
          "identifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
          "inputPorts" : [ ],
          "instanceIdentifier" : "018b1001-23af-179b-4647-17a6f8dd27f4",
          "labels" : [ ],
          "name" : "schema gen",
          "outputPorts" : [ ],
          "position" : {
            "x" : 557.9647179959726,
            "y" : 639.7415760044398
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "4fe0d334-0835-3f1d-9b53-adc06304fc2e",
            "instanceIdentifier" : "69d7341d-62af-1ba4-7e3f-cd3a325725fd",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 534.0000000780069,
              "y" : 1395.0000021067892
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "2cfadc9b-2a39-3f0a-ad02-658554b085ad",
            "instanceIdentifier" : "69d7341a-62af-1ba4-dd41-582f31eb800f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1158.000000078007,
              "y" : 923.0000021067892
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "day_id" : "${day_id:format(\"yyyMMdd\")}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "day_id" : {
                "displayName" : "day_id",
                "identifiesControllerService" : false,
                "name" : "day_id",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "8175362c-5c41-33f6-9e23-434f0e2b2566",
            "instanceIdentifier" : "69d7341b-62af-1ba4-1a66-ea241088c9b5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1094.000000078007,
              "y" : 259.0000021067892
            },
            "properties" : {
              "Keep Source File" : "true",
              "Minimum File Age" : "0 sec",
              "Polling Interval" : "0 sec",
              "Input Directory" : "/home/d5han/projects/ADL/Ncell/NIF-ETL-integration",
              "Batch Size" : "10",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "Recurse Subdirectories" : "true",
              "File Filter" : "[^\\.].*"
            },
            "propertyDescriptors" : {
              "Keep Source File" : {
                "displayName" : "Keep Source File",
                "identifiesControllerService" : false,
                "name" : "Keep Source File",
                "sensitive" : false
              },
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "Polling Interval" : {
                "displayName" : "Polling Interval",
                "identifiesControllerService" : false,
                "name" : "Polling Interval",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "10000 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GetFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "1d2b9508-0037-312e-a3fa-e004d5b9ecb9",
            "instanceIdentifier" : "69d7341f-62af-1ba4-3a5d-08cca66a3cf2",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1907.9617534852139,
              "y" : 927.9605505066781
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "4d7246c1-ad14-33d3-af1e-c77495c89434",
            "instanceIdentifier" : "69d7341c-62af-1ba4-f24c-fcbada8b136d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConvertRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1158.000000078007,
              "y" : 1219.0000021067892
            },
            "properties" : {
              "record-writer" : "c03414fe-498d-3ff7-8e74-8be9cc0bab11",
              "record-reader" : "5bc461d9-ee8a-341c-a166-8872389d873e",
              "include-zero-record-flowfiles" : "true"
            },
            "propertyDescriptors" : {
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "include-zero-record-flowfiles" : {
                "displayName" : "Include Zero Record FlowFiles",
                "identifiesControllerService" : false,
                "name" : "include-zero-record-flowfiles",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-poi-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "a2e5b643-e84a-3f16-b804-7f62bf330bc6",
            "instanceIdentifier" : "69d73420-62af-1ba4-576f-31c96fffb965",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConvertExcelToCSVProcessor",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1118.000000078007,
              "y" : 635.0000021067892
            },
            "properties" : {
              "excel-extract-first-row" : "0",
              "CSV Format" : "custom",
              "Quote Character" : "\"",
              "Include Header Line" : "true",
              "Value Separator" : ",",
              "Record Separator" : "\\n",
              "Escape Character" : "\\",
              "excel-format-values" : "false",
              "Trim Fields" : "true",
              "excel-format-booleans" : "true",
              "Quote Mode" : "NONE",
              "Include Trailing Delimiter" : "false"
            },
            "propertyDescriptors" : {
              "excel-extract-first-row" : {
                "displayName" : "Number of Rows to Skip",
                "identifiesControllerService" : false,
                "name" : "excel-extract-first-row",
                "sensitive" : false
              },
              "excel-extract-column-to-skip" : {
                "displayName" : "Columns To Skip",
                "identifiesControllerService" : false,
                "name" : "excel-extract-column-to-skip",
                "sensitive" : false
              },
              "CSV Format" : {
                "displayName" : "CSV Format",
                "identifiesControllerService" : false,
                "name" : "CSV Format",
                "sensitive" : false
              },
              "Quote Character" : {
                "displayName" : "Quote Character",
                "identifiesControllerService" : false,
                "name" : "Quote Character",
                "sensitive" : false
              },
              "Include Header Line" : {
                "displayName" : "Include Header Line",
                "identifiesControllerService" : false,
                "name" : "Include Header Line",
                "sensitive" : false
              },
              "Value Separator" : {
                "displayName" : "Value Separator",
                "identifiesControllerService" : false,
                "name" : "Value Separator",
                "sensitive" : false
              },
              "Record Separator" : {
                "displayName" : "Record Separator",
                "identifiesControllerService" : false,
                "name" : "Record Separator",
                "sensitive" : false
              },
              "Escape Character" : {
                "displayName" : "Escape Character",
                "identifiesControllerService" : false,
                "name" : "Escape Character",
                "sensitive" : false
              },
              "extract-sheets" : {
                "displayName" : "Sheets to Extract",
                "identifiesControllerService" : false,
                "name" : "extract-sheets",
                "sensitive" : false
              },
              "excel-format-values" : {
                "displayName" : "Format Cell Values",
                "identifiesControllerService" : false,
                "name" : "excel-format-values",
                "sensitive" : false
              },
              "Null String" : {
                "displayName" : "Null String",
                "identifiesControllerService" : false,
                "name" : "Null String",
                "sensitive" : false
              },
              "Trim Fields" : {
                "displayName" : "Trim Fields",
                "identifiesControllerService" : false,
                "name" : "Trim Fields",
                "sensitive" : false
              },
              "Comment Marker" : {
                "displayName" : "Comment Marker",
                "identifiesControllerService" : false,
                "name" : "Comment Marker",
                "sensitive" : false
              },
              "excel-format-booleans" : {
                "displayName" : "Format Booleans",
                "identifiesControllerService" : false,
                "name" : "excel-format-booleans",
                "sensitive" : false
              },
              "Quote Mode" : {
                "displayName" : "Quote Mode",
                "identifiesControllerService" : false,
                "name" : "Quote Mode",
                "sensitive" : false
              },
              "Include Trailing Delimiter" : {
                "displayName" : "Include Trailing Delimiter",
                "identifiesControllerService" : false,
                "name" : "Include Trailing Delimiter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dd0d1595-73b8-3865-b172-61c587cc169a",
            "identifier" : "18973e74-9912-37b9-b70b-a2651ac12ca3",
            "instanceIdentifier" : "69d7341e-62af-1ba4-d5eb-a3b9bb08f95a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 518.0000000780069,
              "y" : 795.0000021067892
            },
            "properties" : {
              "Keep Source File" : "true",
              "Minimum File Age" : "0 sec",
              "Polling Interval" : "0 sec",
              "Input Directory" : "/home/d5han/projects/ADL/Ncell/DMART/Fw__CEM_DATA_mart/avero schemas/dmi.ti_fact_callcenter_agentlog_d",
              "Batch Size" : "10",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "Recurse Subdirectories" : "true",
              "File Filter" : "[^\\.].*"
            },
            "propertyDescriptors" : {
              "Keep Source File" : {
                "displayName" : "Keep Source File",
                "identifiesControllerService" : false,
                "name" : "Keep Source File",
                "sensitive" : false
              },
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "Polling Interval" : {
                "displayName" : "Polling Interval",
                "identifiesControllerService" : false,
                "name" : "Polling Interval",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "10000 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GetFile",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}